extends layout

block vars
  - var title = 'Login'

block content
  h1= title
  div.container.text-center
    h2 Log In

    if error
      p ERROR: #{error}
      p Have you already <a href="/register">registered</a>?

    if message
      p #{message}

    form(method="post" class="outerForm")
      input(type="hidden", name="_csrf", value=csrfToken)

      input(type="email", name="email", placeholder='email@example.com' required=true)
      br

      input(type="password", name="password", placeholder='password' required=true)
      br

      button.btn.btn-success(type="submit") Submit