extends layout

block vars
  - var title = 'Register'

block content
  div.col-md-12.text-center
      h1 Create an Account
      form.outerForm(method="post")
        input(type="hidden", name="_csrf", value=csrfToken)

        input(type="text", name="firstName", placeholder='First Name' required=true)
        br

        input(type="text", name="lastName", placeholder='Last Name' required=true)
        br

        input(type="email", name="email", placeholder='example@email.com' required=true)
        br

        input(type="password", name="password", placeholder='password' required=true)
        br

        button.btn.btn-success(type="submit") Submit